In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
# from census import Census
from us import states
import json

#pip istall only needs to be ran once then this code can be removed
!pip install -U epiweeks
import epiweeks as ew

# Census API Key
from config import api_key
# c = Census(api_key)
c = api_key

Requirement already up-to-date: epiweeks in c:\users\superpawn\anaconda3\lib\site-packages (2.1.2)

In [92]:
#Disease CSV data: issues are traslating 'epiweek' column into a year, data frame will need to be shortened to only inlude years 2005-2010

disease_df = pd.read_csv("diseases_us_1916_to_2011.csv")

disease_df['disease'].value_counts()

C:\Users\Superpawn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

DIPHTHERIA     158983
MEASLES        145167
PERTUSSIS      109072
HEPATITIS A     90839
POLIO           81531
MUMPS           69754
RUBELLA         53205
SMALLPOX        50916
Name: disease, dtype: int64

In [93]:
disease_df["cases"]=disease_df["cases"].astype(str).replace("\\N",np.nan)
disease_df=disease_df.dropna(how="any")
disease_df['cases'] = disease_df["cases"].astype(int)

In [94]:
#Convert epi_week column into week and years columns.
disease_df['epi_week'] = disease_df['epi_week'].astype(str)
disease_df['year'] = disease_df['epi_week'].str[0:4]
disease_df['week'] = disease_df['epi_week'].str[4:6]
disease_df

,epi_week,state,loc,loc_type,disease,cases,incidence_per_100000,year,week
0,196601,MN,MINNESOTA,STATE,HEPATITIS A,3,0.08,1966,01
1,196601,CO,COLORADO,STATE,HEPATITIS A,1,0.05,1966,01
2,196601,AZ,ARIZONA,STATE,HEPATITIS A,6,0.37,1966,01
3,196601,MT,MONTANA,STATE,HEPATITIS A,2,0.28,1966,01
4,196601,LA,LOUISIANA,STATE,HEPATITIS A,1,0.03,1966,01
...,...,...,...,...,...,...,...,...,...
759462,194752,WI,SUPERIOR,CITY,DIPHTHERIA,0,0.00,1947,52
759463,194752,FL,TAMPA,CITY,DIPHTHERIA,0,0.00,1947,52
759464,194752,CO,DENVER,CITY,DIPHTHERIA,1,0.25,1947,52
759465,194752,NY,BUFFALO,CITY,DIPHTHERIA,2,0.35,1947,52
759466,194752,UT,SALT LAKE CITY,CITY,DIPHTHERIA,0,0.00,1947,52

In [95]:
short_disease_df = disease_df.loc[(disease_df['year']== '2010')|(disease_df['year']== '2009')|(disease_df['year']== '2008')|(disease_df['year']== '2007')|(disease_df['year']== '2006')]

grouped_disease_df = short_disease_df.groupby(['year','state','disease',])
clean_disease_df=pd.DataFrame(grouped_disease_df['cases'].sum())
clean_disease_df

                        cases
year state disease
2006 AK    PERTUSSIS       53
     AL    HEPATITIS A     17
           PERTUSSIS       90
     AR    HEPATITIS A     23
           PERTUSSIS       60
...                       ...
2010 WI    PERTUSSIS      304
     WV    HEPATITIS A      9
           PERTUSSIS       91
     WY    HEPATITIS A      3
           PERTUSSIS        6

[503 rows x 1 columns]

In [100]:
years=['2006','2007','2008','2009','2010']
All_data= {}
for year in years:
    try:
        target_url = f"https://api.census.gov/data/{year}/acs/acs1?get=NAME,B01003_001E,B19013_001E&for=state:*&key={api_key}"
        income_data = requests.get(target_url).json()
        All_data.update({year:income_data})
    except:
        print ('not found')
        
All_data

{'2006': [['NAME', 'B01003_001E', 'B19013_001E', 'state'],
  ['Alabama', '4599030', '38783', '01'],
  ['Alaska', '670053', '59393', '02'],
  ['Arizona', '6166318', '47265', '04'],
  ['Arkansas', '2810872', '36599', '05'],
  ['California', '36457549', '56645', '06'],
  ['Colorado', '4753377', '52015', '08'],
  ['Connecticut', '3504809', '63422', '09'],
  ['Delaware', '853476', '52833', '10'],
  ['District of Columbia', '581530', '51847', '11'],
  ['Florida', '18089889', '45495', '12'],
  ['Georgia', '9363941', '46832', '13'],
  ['Hawaii', '1285498', '61160', '15'],
  ['Idaho', '1466465', '42865', '16'],
  ['Illinois', '12831970', '52006', '17'],
  ['Indiana', '6313520', '45394', '18'],
  ['Iowa', '2982085', '44491', '19'],
  ['Kansas', '2764075', '45478', '20'],
  ['Kentucky', '4206074', '39372', '21'],
  ['Louisiana', '4287768', '39337', '22'],
  ['Maine', '1321574', '43439', '23'],
  ['Maryland', '5615727', '65144', '24'],
  ['Massachusetts', '6437193', '59963', '25'],
  ['Michigan', '10095643', '47182', '26'],
  ['Minnesota', '5167101', '54023', '27'],
  ['Mississippi', '2910540', '34473', '28'],
  ['Missouri', '5842713', '42841', '29'],
  ['Montana', '944632', '40627', '30'],
  ['Nebraska', '1768331', '45474', '31'],
  ['Nevada', '2495529', '52998', '32'],
  ['New Hampshire', '1314895', '59683', '33'],
  ['New Jersey', '8724560', '64470', '34'],
  ['New Mexico', '1954599', '40629', '35'],
  ['New York', '19306183', '51384', '36'],
  ['North Carolina', '8856505', '42625', '37'],
  ['North Dakota', '635867', '41919', '38'],
  ['Ohio', '11478006', '44532', '39'],
  ['Oklahoma', '3579212', '38770', '40'],
  ['Oregon', '3700758', '46230', '41'],
  ['Pennsylvania', '12440621', '46259', '42'],
  ['Rhode Island', '1067610', '51814', '44'],
  ['South Carolina', '4321249', '41100', '45'],
  ['South Dakota', '781919', '42791', '46'],
  ['Tennessee', '6038803', '40315', '47'],
  ['Texas', '23507783', '44922', '48'],
  ['Utah', '2550063', '51309', '49'],
  ['Vermont', '623908', '47665', '50'],
  ['Virginia', '7642884', '56277', '51'],
  ['Washington', '6395798', '52583', '53'],
  ['West Virginia', '1818470', '35059', '54'],
  ['Wisconsin', '5556506', '48772', '55'],
  ['Wyoming', '515004', '47423', '56'],
  ['Puerto Rico', '3927776', '17621', '72']],
 '2007': [['NAME', 'B01003_001E', 'B19013_001E', 'state'],
  ['Alabama', '4627851', '40554', '01'],
  ['Alaska', '683478', '64333', '02'],
  ['Arizona', '6338755', '49889', '04'],
  ['Arkansas', '2834797', '38134', '05'],
  ['California', '36553215', '59948', '06'],
  ['Colorado', '4861515', '55212', '08'],
  ['Connecticut', '3502309', '65967', '09'],
  ['Delaware', '864764', '54610', '10'],
  ['District of Columbia', '588292', '54317', '11'],
  ['Florida', '18251243', '47804', '12'],
  ['Georgia', '9544750', '49136', '13'],
  ['Hawaii', '1283388', '63746', '15'],
  ['Idaho', '1499402', '46253', '16'],
  ['Illinois', '12852548', '54124', '17'],
  ['Indiana', '6345289', '47448', '18'],
  ['Iowa', '2988047', '47292', '19'],
  ['Kansas', '2775997', '47451', '20'],
  ['Kentucky', '4241474', '40267', '21'],
  ['Louisiana', '4293204', '40926', '22'],
  ['Maine', '1317207', '45888', '23'],
  ['Maryland', '5618344', '68080', '24'],
  ['Massachusetts', '6449755', '62365', '25'],
  ['Michigan', '10071822', '47950', '26'],
  ['Minnesota', '5197621', '55802', '27'],
  ['Mississippi', '2918785', '36338', '28'],
  ['Missouri', '5878415', '45114', '29'],
  ['Montana', '957861', '43531', '30'],
  ['Nebraska', '1774571', '47085', '31'],
  ['Nevada', '2565382', '55062', '32'],
  ['New Hampshire', '1315828', '62369', '33'],
  ['New Jersey', '8685920', '67035', '34'],
  ['New Mexico', '1969915', '41452', '35'],
  ['New York', '19297729', '53514', '36'],
  ['North Carolina', '9061032', '44670', '37'],
  ['North Dakota', '639715', '43753', '38'],
  ['Ohio', '11466917', '46597', '39'],
  ['Oklahoma', '3617316', '41567', '40'],
  ['Oregon', '3747455', '48730', '41'],
  ['Pennsylvania', '12432792', '48576', '42'],
  ['Rhode Island', '1057832', '53568', '44'],
  ['South Carolina', '4407709', '43329', '45'],
  ['South Dakota', '796215', '43424', '46'],
  ['Tennessee', '6156719', '42367', '47'],
  ['Texas', '23904380', '47548', '48'],
  ['Utah', '2645330', '55109', '49'],
  ['Vermont', '621254', '49907', '50'],
  ['Virginia', '7712091', '59562', '51'],
  ['Washington', '6468424', '55591', '53'],
  ['West Virginia', '1812035', '37060', '54'],
  ['Wisconsin', '5601640', '50578', '55'],
  ['Wyoming', '522830', '51731', '56'],
  ['Puerto Rico', '3942375', '17741', '72']],
 '2008': [['NAME', 'B01003_001E', 'B19013_001E', 'state'],
  ['Alabama', '4661900', '42666', '01'],
  ['Alaska', '686293', '68460', '02'],
  ['Arizona', '6500180', '50958', '04'],
  ['Arkansas', '2855390', '38815', '05'],
  ['California', '36756666', '61021', '06'],
  ['Colorado', '4939456', '56993', '08'],
  ['Connecticut', '3501252', '68595', '09'],
  ['Delaware', '873092', '57989', '10'],
  ['District of Columbia', '591833', '57936', '11'],
  ['Florida', '18328340', '47778', '12'],
  ['Georgia', '9685744', '50861', '13'],
  ['Hawaii', '1288198', '67214', '15'],
  ['Idaho', '1523816', '47576', '16'],
  ['Illinois', '12901564', '56235', '17'],
  ['Indiana', '6376792', '47966', '18'],
  ['Iowa', '3002557', '48980', '19'],
  ['Kansas', '2802134', '50177', '20'],
  ['Kentucky', '4269245', '41538', '21'],
  ['Louisiana', '4410796', '43733', '22'],
  ['Maine', '1316456', '46581', '23'],
  ['Maryland', '5633597', '70545', '24'],
  ['Massachusetts', '6497967', '65401', '25'],
  ['Michigan', '10003422', '48591', '26'],
  ['Minnesota', '5220393', '57288', '27'],
  ['Mississippi', '2938618', '37790', '28'],
  ['Missouri', '5911605', '46867', '29'],
  ['Montana', '967440', '43654', '30'],
  ['Nebraska', '1783432', '49693', '31'],
  ['Nevada', '2600167', '56361', '32'],
  ['New Hampshire', '1315809', '63731', '33'],
  ['New Jersey', '8682661', '70378', '34'],
  ['New Mexico', '1984356', '43508', '35'],
  ['New York', '19490297', '56033', '36'],
  ['North Carolina', '9222414', '46549', '37'],
  ['North Dakota', '641481', '45685', '38'],
  ['Ohio', '11485910', '47988', '39'],
  ['Oklahoma', '3642361', '42822', '40'],
  ['Oregon', '3790060', '50169', '41'],
  ['Pennsylvania', '12448279', '50713', '42'],
  ['Rhode Island', '1050788', '55701', '44'],
  ['South Carolina', '4479800', '44625', '45'],
  ['South Dakota', '804194', '46032', '46'],
  ['Tennessee', '6214888', '43614', '47'],
  ['Texas', '24326974', '50043', '48'],
  ['Utah', '2736424', '56633', '49'],
  ['Vermont', '621270', '52104', '50'],
  ['Virginia', '7769089', '61233', '51'],
  ['Washington', '6549224', '58078', '53'],
  ['West Virginia', '1814468', '37989', '54'],
  ['Wisconsin', '5627968', '52094', '55'],
  ['Wyoming', '532668', '53207', '56'],
  ['Puerto Rico', '3954037', '18401', '72']],
 '2009': [['NAME', 'B01003_001E', 'B19013_001E', 'state'],
  ['Alabama', '4708708', '40489', '01'],
  ['Alaska', '698473', '66953', '02'],
  ['Arizona', '6595778', '48745', '04'],
  ['Arkansas', '2889450', '37823', '05'],
  ['California', '36961664', '58931', '06'],
  ['Colorado', '5024748', '55430', '08'],
  ['Connecticut', '3518288', '67034', '09'],
  ['Delaware', '885122', '56860', '10'],
  ['District of Columbia', '599657', '59290', '11'],
  ['Florida', '18537969', '44736', '12'],
  ['Georgia', '9829211', '47590', '13'],
  ['Hawaii', '1295178', '64098', '15'],
  ['Idaho', '1545801', '44926', '16'],
  ['Illinois', '12910409', '53966', '17'],
  ['Indiana', '6423113', '45424', '18'],
  ['Iowa', '3007857', '48044', '19'],
  ['Kansas', '2818747', '47817', '20'],
  ['Kentucky', '4314113', '40072', '21'],
  ['Louisiana', '4492076', '42492', '22'],
  ['Maine', '1318301', '45734', '23'],
  ['Maryland', '5699478', '69272', '24'],
  ['Massachusetts', '6593587', '64081', '25'],
  ['Michigan', '9969727', '45255', '26'],
  ['Minnesota', '5266215', '55616', '27'],
  ['Mississippi', '2951996', '36646', '28'],
  ['Missouri', '5987580', '45229', '29'],
  ['Montana', '974989', '42322', '30'],
  ['Nebraska', '1796622', '47357', '31'],
  ['Nevada', '2643085', '53341', '32'],
  ['New Hampshire', '1324575', '60567', '33'],
  ['New Jersey', '8707740', '68342', '34'],
  ['New Mexico', '2009671', '43028', '35'],
  ['New York', '19541453', '54659', '36'],
  ['North Carolina', '9380884', '43674', '37'],
  ['North Dakota', '646844', '47827', '38'],
  ['Ohio', '11542645', '45395', '39'],
  ['Oklahoma', '3687050', '41664', '40'],
  ['Oregon', '3825657', '48457', '41'],
  ['Pennsylvania', '12604767', '49520', '42'],
  ['Rhode Island', '1053209', '54119', '44'],
  ['South Carolina', '4561242', '42442', '45'],
  ['South Dakota', '812383', '45043', '46'],
  ['Tennessee', '6296254', '41725', '47'],
  ['Texas', '24782302', '48259', '48'],
  ['Utah', '2784572', '55117', '49'],
  ['Vermont', '621760', '51618', '50'],
  ['Virginia', '7882590', '59330', '51'],
  ['Washington', '6664195', '56548', '53'],
  ['West Virginia', '1819777', '37435', '54'],
  ['Wisconsin', '5654774', '49993', '55'],
  ['Wyoming', '544270', '52664', '56'],
  ['Puerto Rico', '3967288', '18314', '72']],
 '2010': [['NAME', 'B01003_001E', 'B19013_001E', 'state'],
  ['Alabama', '4785298', '40474', '01'],
  ['Alaska', '713985', '64576', '02'],
  ['Arizona', '6413737', '46789', '04'],
  ['Arkansas', '2921606', '38307', '05'],
  ['California', '37349363', '57708', '06'],
  ['Colorado', '5049071', '54046', '08'],
  ['Connecticut', '3577073', '64032', '09'],
  ['Delaware', '899769', '55847', '10'],
  ['District of Columbia', '604453', '60903', '11'],
  ['Florida', '18843326', '44409', '12'],
  ['Georgia', '9712587', '46430', '13'],
  ['Hawaii', '1363621', '63030', '15'],
  ['Idaho', '1571450', '43490', '16'],
  ['Illinois', '12843166', '52972', '17'],
  ['Indiana', '6490621', '44613', '18'],
  ['Iowa', '3049883', '47961', '19'],
  ['Kansas', '2859169', '48257', '20'],
  ['Kentucky', '4346266', '40062', '21'],
  ['Louisiana', '4544228', '42505', '22'],
  ['Maine', '1327567', '45815', '23'],
  ['Maryland', '5785982', '68854', '24'],
  ['Massachusetts', '6557254', '62072', '25'],
  ['Michigan', '9877574', '45413', '26'],
  ['Minnesota', '5310584', '55459', '27'],
  ['Mississippi', '2970036', '36851', '28'],
  ['Missouri', '5996231', '44301', '29'],
  ['Montana', '990898', '42666', '30'],
  ['Nebraska', '1830429', '48408', '31'],
  ['Nevada', '2704642', '51001', '32'],
  ['New Hampshire', '1316759', '61042', '33'],
  ['New Jersey', '8801624', '67681', '34'],
  ['New Mexico', '2065932', '42090', '35'],
  ['New York', '19392283', '54148', '36'],
  ['North Carolina', '9561558', '43326', '37'],
  ['North Dakota', '674499', '48670', '38'],
  ['Ohio', '11536182', '45090', '39'],
  ['Oklahoma', '3761702', '42072', '40'],
  ['Oregon', '3838957', '46560', '41'],
  ['Pennsylvania', '12709630', '49288', '42'],
  ['Rhode Island', '1052886', '52254', '44'],
  ['South Carolina', '4636312', '42018', '45'],
  ['South Dakota', '816463', '45904', '46'],
  ['Tennessee', '6356897', '41461', '47'],
  ['Texas', '25257114', '48615', '48'],
  ['Utah', '2776469', '54744', '49'],
  ['Vermont', '625960', '49406', '50'],
  ['Virginia', '8024617', '60674', '51'],
  ['Washington', '6744496', '55631', '53'],
  ['West Virginia', '1853973', '38218', '54'],
  ['Wisconsin', '5691047', '49001', '55'],
  ['Wyoming', '564460', '53512', '56'],
  ['Puerto Rico', '3722133', '18862', '72']]}

In [107]:
#reading the census Json data into a dataframe. issues include translating the state names into state abreviations to match the disease data frame, dropping the frst row, and renaming the columns
# income_df = pd.DataFrame(All_data)

income_df= pd.DataFrame()
years=['2006','2007','2008','2009','2010']
for year in years:
    df= pd.DataFrame(All_data[year])
    df['year']=year
    df.drop(index=df.index[0],axis=0,inplace=True)
    income_df=pd.concat([income_df,df])
income_df.columns= ['State', 'Population', 'Household Income', 'State Num', 'Year']
income_df

            State Population Household Income State Num  Year
1         Alabama    4599030            38783        01  2006
2          Alaska     670053            59393        02  2006
3         Arizona    6166318            47265        04  2006
4        Arkansas    2810872            36599        05  2006
5      California   36457549            56645        06  2006
..            ...        ...              ...       ...   ...
48     Washington    6744496            55631        53  2010
49  West Virginia    1853973            38218        54  2010
50      Wisconsin    5691047            49001        55  2010
51        Wyoming     564460            53512        56  2010
52    Puerto Rico    3722133            18862        72  2010

[260 rows x 5 columns]

In [112]:
income_df = income_df.replace({
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
})

In [113]:
income_df

   State Population Household Income State Num  Year
1     AL    4599030            38783        01  2006
2     AK     670053            59393        02  2006
3     AZ    6166318            47265        04  2006
4     AR    2810872            36599        05  2006
5     CA   36457549            56645        06  2006
..   ...        ...              ...       ...   ...
48    WA    6744496            55631        53  2010
49    WV    1853973            38218        54  2010
50    WI    5691047            49001        55  2010
51    WY     564460            53512        56  2010
52    PR    3722133            18862        72  2010

[260 rows x 5 columns]