In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

!pip install -U epiweeks
# from epiweeks import Week, Year
import epiweeks as ew

# Census API Key
from config import api_key
c = Census(api_key)

Requirement already up-to-date: epiweeks in c:\users\superpawn\anaconda3\lib\site-packages (2.1.2)

In [15]:
disease_df = pd.read_csv("diseases_us_1916_to_2011.csv")

disease_df

C:\Users\Superpawn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,epi_week,state,loc,loc_type,disease,cases,incidence_per_100000
0,196601,MN,MINNESOTA,STATE,HEPATITIS A,3,0.08
1,196601,CO,COLORADO,STATE,HEPATITIS A,1,0.05
2,196601,AZ,ARIZONA,STATE,HEPATITIS A,6,0.37
3,196601,MT,MONTANA,STATE,HEPATITIS A,2,0.28
4,196601,LA,LOUISIANA,STATE,HEPATITIS A,1,0.03
...,...,...,...,...,...,...,...
759462,194752,WI,SUPERIOR,CITY,DIPHTHERIA,0,0.00
759463,194752,FL,TAMPA,CITY,DIPHTHERIA,0,0.00
759464,194752,CO,DENVER,CITY,DIPHTHERIA,1,0.25
759465,194752,NY,BUFFALO,CITY,DIPHTHERIA,2,0.35
759466,194752,UT,SALT LAKE CITY,CITY,DIPHTHERIA,0,0.00

In [16]:
# disease_df['year'] = disease_df['epi_week'].apply(lambda x: int(x[:4]))
disease_df.dtypes

epi_week                  int64
state                    object
loc                      object
loc_type                 object
disease                  object
cases                    object
incidence_per_100000    float64
dtype: object

In [32]:
years=[2010,2011]
all_data=pd.DataFrame()
for y in years:
    census_data = c.acs1.get(("NAME", "B01003_001E","B19013_001E"), {'for': 'state:*'}, year=y)

    # Convert to DataFrame
    census_pd = pd.DataFrame(census_data)

    # Column Reordering
    census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                          "B19013_001E": "Household Income",
                                          "NAME": "Name", 
                                          "state": "State"
                                    })

    census_pd = census_pd[["Name", "Population", "Household Income"]]
    census_pd['Year']=y
    census_pd
    all_data = pd.concat([all_data,census_pd])

In [33]:
all_data

             Name  Population  Household Income  Year
0         Alabama   4785298.0           40474.0  2010
1          Alaska    713985.0           64576.0  2010
2         Arizona   6413737.0           46789.0  2010
3        Arkansas   2921606.0           38307.0  2010
4      California  37349363.0           57708.0  2010
..            ...         ...               ...   ...
47     Washington   6830038.0           56835.0  2011
48  West Virginia   1855364.0           38482.0  2011
49      Wisconsin   5711767.0           50395.0  2011
50        Wyoming    568158.0           56322.0  2011
51    Puerto Rico   3706690.0           18660.0  2011

[104 rows x 4 columns]