In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from Census import Census
#from us import states
import requests
import json

#pip istall only needs to be ran once then this code can be removed
!pip install -U epiweeks
import epiweeks as ew

!pip install Census

# Census API Key
from config import api_key
#c = Census(api_key)
c = api_key

Requirement already up-to-date: epiweeks in c:\users\user\anaconda3\lib\site-packages (2.1.2)
Requirement already satisfied: Census in c:\users\user\anaconda3\lib\site-packages (0.8.17)
Requirement already satisfied: requests>=1.1.0 in c:\users\user\anaconda3\lib\site-packages (from Census) (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=1.1.0->Census) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests>=1.1.0->Census) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=1.1.0->Census) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=1.1.0->Census) (1.25.11)

In [63]:
#Disease CSV data: issues are traslating 'epiweek' column into a year, data frame will need to be shortened to only inlude years 2005-2010

disease_df = pd.read_csv("diseases_us_1916_to_2011.csv")

disease_df

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,epi_week,state,loc,loc_type,disease,cases,incidence_per_100000
0,196601,MN,MINNESOTA,STATE,HEPATITIS A,3,0.08
1,196601,CO,COLORADO,STATE,HEPATITIS A,1,0.05
2,196601,AZ,ARIZONA,STATE,HEPATITIS A,6,0.37
3,196601,MT,MONTANA,STATE,HEPATITIS A,2,0.28
4,196601,LA,LOUISIANA,STATE,HEPATITIS A,1,0.03
...,...,...,...,...,...,...,...
759462,194752,WI,SUPERIOR,CITY,DIPHTHERIA,0,0.00
759463,194752,FL,TAMPA,CITY,DIPHTHERIA,0,0.00
759464,194752,CO,DENVER,CITY,DIPHTHERIA,1,0.25
759465,194752,NY,BUFFALO,CITY,DIPHTHERIA,2,0.35
759466,194752,UT,SALT LAKE CITY,CITY,DIPHTHERIA,0,0.00

In [66]:
# Disease CSV data: Issues with the 'cases' column being listed as an object when it should be an integer or float
disease_df.dtypes

disease_df["cases"]=disease_df["cases"].astype(str).replace("\\N",np.nan)
disease_df=disease_df.dropna(how="any")
disease_df["cases"].astype(int)

<ipython-input-66-ee68f2cd4180>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disease_df["cases"]=disease_df["cases"].astype(str).replace("\\N",np.nan)

0         3
1         1
2         6
3         2
4         1
         ..
759462    0
759463    0
759464    1
759465    2
759466    0
Name: cases, Length: 759420, dtype: int32

In [ ]:
#Census Data: This is how to pull household income and populaton data from the ACS5 census using the pandas census module(group has decided we will probably not use this method):
#Issues include having troube pulling multiple years as well as the state column coming in s a number rather than a state name.

census_data = c.acs5.get(("NAME", "B01003_001E","B19013_001E"), {'for': 'state:*'}, year=2010)

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B19013_001E": "Household Income",
                                      "NAME": "Name", 
                                      "state": "State"})

census_pd = census_pd[["State", "Population", "Household Income"]]
print(len(census_pd))
census_pd.head()

In [ ]:
#Below is the alternate way to pull census income data from the ACS5 using the URL

In [ ]:
year=2010
target_url = f"https://api.census.gov/data/{year}/acs/acs5?get=NAME,B01003_001E,B19013_001E&for=state:*&key={api_key}"
income_data = requests.get(target_url).json()

In [ ]:
#print the Json data with formatting
print(json.dumps(income_data, indent=4, sort_keys=True))

In [ ]:
#reading the census Json data into a dataframe. issues include translating the state names into state abreviations to match the disease data frame, dropping the frst row, and renaming the columns
Income_df = pd.DataFrame(income_data)
Income_df

In [ ]:
#Firt row dropped
income_df.drop(index=income_df.index[0],axis=0,inplace=True)
income_df