In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
# from census import Census
from us import states
import json

#pip istall only needs to be ran once then this code can be removed
!pip install -U epiweeks
import epiweeks as ew

# Census API Key
from config import api_key
# c = Census(api_key)
c = api_key

Requirement already up-to-date: epiweeks in c:\users\superpawn\anaconda3\lib\site-packages (2.1.2)

In [2]:
#Disease CSV data: issues are traslating 'epiweek' column into a year, data frame will need to be shortened to only inlude years 2005-2010

disease_df = pd.read_csv("diseases_us_1916_to_2011.csv")

disease_df['disease'].value_counts()

C:\Users\Superpawn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

DIPHTHERIA     158983
MEASLES        145167
PERTUSSIS      109072
HEPATITIS A     90839
POLIO           81531
MUMPS           69754
RUBELLA         53205
SMALLPOX        50916
Name: disease, dtype: int64

In [21]:
disease_df["cases"]=disease_df["cases"].astype(str).replace("\\N",np.nan)
disease_df=disease_df.dropna(how="any")
disease_df["cases"].astype(int)
# disease_df.dtypes

0         3
1         1
2         6
3         2
4         1
         ..
759462    0
759463    0
759464    1
759465    2
759466    0
Name: cases, Length: 759420, dtype: int32

In [4]:
#Convert epi_week column into week and years columns.
disease_df['epi_week'] = disease_df['epi_week'].astype(str)
disease_df['year'] = disease_df['epi_week'].str[0:4]
disease_df['week'] = disease_df['epi_week'].str[4:6]
disease_df

,epi_week,state,loc,loc_type,disease,cases,incidence_per_100000,year,week
0,196601,MN,MINNESOTA,STATE,HEPATITIS A,3,0.08,1966,01
1,196601,CO,COLORADO,STATE,HEPATITIS A,1,0.05,1966,01
2,196601,AZ,ARIZONA,STATE,HEPATITIS A,6,0.37,1966,01
3,196601,MT,MONTANA,STATE,HEPATITIS A,2,0.28,1966,01
4,196601,LA,LOUISIANA,STATE,HEPATITIS A,1,0.03,1966,01
...,...,...,...,...,...,...,...,...,...
759462,194752,WI,SUPERIOR,CITY,DIPHTHERIA,0,0.00,1947,52
759463,194752,FL,TAMPA,CITY,DIPHTHERIA,0,0.00,1947,52
759464,194752,CO,DENVER,CITY,DIPHTHERIA,1,0.25,1947,52
759465,194752,NY,BUFFALO,CITY,DIPHTHERIA,2,0.35,1947,52
759466,194752,UT,SALT LAKE CITY,CITY,DIPHTHERIA,0,0.00,1947,52

In [20]:
short_disease_df = disease_df.loc[(disease_df['year']== '2010')|(disease_df['year']== '2009')|(disease_df['year']== '2008')|(disease_df['year']== '2007')|(disease_df['year']== '2006')]

grouped_disease_df = short_disease_df.groupby(['year','state','disease',])
grouped_disease_df['cases'].sum()

year  state  disease
2006  AK     PERTUSSIS       112721213011020101200201030202151122001000001001
      AL     HEPATITIS A           110000000000001300011000022001000010102000
             PERTUSSIS      1120202100121101100100310143110643000160452521...
      AR     HEPATITIS A            35011001020100100010011001002010000100000
             PERTUSSIS      2101140302210510210142001111021003012160131200000
                                                  ...
2010  WI     PERTUSSIS      0004000000000000002018160251415091132619221960...
      WV     HEPATITIS A           000000000000000000000001000000000050010002
             PERTUSSIS      1000000012011010000001010021443116183942631001...
      WY     HEPATITIS A                        30000000000000000000000000000
             PERTUSSIS            0000000000010010010001000010100000000000000
Name: cases, Length: 503, dtype: object

In [7]:
#Below is the alternate way to pull census income data from the ACS5 using the URL

In [8]:
year=2010
target_url = f"https://api.census.gov/data/{year}/acs/acs5?get=NAME,B01003_001E,B19013_001E&for=state:*&key={api_key}"
income_data = requests.get(target_url).json()

In [9]:
#print the Json data with formatting
print(json.dumps(income_data, indent=4, sort_keys=True))

[
    [
        "NAME",
        "B01003_001E",
        "B19013_001E",
        "state"
    ],
    [
        "Alabama",
        "4712651",
        "42081",
        "01"
    ],
    [
        "Alaska",
        "691189",
        "66521",
        "02"
    ],
    [
        "Arizona",
        "6246816",
        "50448",
        "04"
    ],
    [
        "Arkansas",
        "2872684",
        "39267",
        "05"
    ],
    [
        "California",
        "36637290",
        "60883",
        "06"
    ],
    [
        "Colorado",
        "4887061",
        "56456",
        "08"
    ],
    [
        "Connecticut",
        "3545837",
        "67740",
        "09"
    ],
    [
        "Delaware",
        "881278",
        "57599",
        "10"
    ],
    [
        "District of Columbia",
        "584400",
        "58526",
        "11"
    ],
    [
        "Florida",
        "18511620",
        "47661",
        "12"
    ],
    [
        "Georgia",
        "9468815",
        "49347",
        "13"
    ],
    [
        "Hawaii",
        "1333591",
        "66420",
        "15"
    ],
    [
        "Idaho",
        "1526797",
        "46423",
        "16"
    ],
    [
        "Illinois",
        "12745359",
        "55735",
        "17"
    ],
    [
        "Indiana",
        "6417398",
        "47697",
        "18"
    ],
    [
        "Iowa",
        "3016267",
        "48872",
        "19"
    ],
    [
        "Kansas",
        "2809329",
        "49424",
        "20"
    ],
    [
        "Kentucky",
        "4285828",
        "41576",
        "21"
    ],
    [
        "Louisiana",
        "4429940",
        "43445",
        "22"
    ],
    [
        "Maine",
        "1327665",
        "46933",
        "23"
    ],
    [
        "Maryland",
        "5696423",
        "70647",
        "24"
    ],
    [
        "Massachusetts",
        "6477096",
        "64509",
        "25"
    ],
    [
        "Michigan",
        "9952687",
        "48432",
        "26"
    ],
    [
        "Minnesota",
        "5241914",
        "57243",
        "27"
    ],
    [
        "Mississippi",
        "2941991",
        "37881",
        "28"
    ],
    [
        "Missouri",
        "5922314",
        "46262",
        "29"
    ],
    [
        "Montana",
        "973739",
        "43872",
        "30"
    ],
    [
        "Nebraska",
        "1799125",
        "49342",
        "31"
    ],
    [
        "Nevada",
        "2633331",
        "55726",
        "32"
    ],
    [
        "New Hampshire",
        "1313939",
        "63277",
        "33"
    ],
    [
        "New Jersey",
        "8721577",
        "69811",
        "34"
    ],
    [
        "New Mexico",
        "2013122",
        "43820",
        "35"
    ],
    [
        "New York",
        "19229752",
        "55603",
        "36"
    ],
    [
        "North Carolina",
        "9271178",
        "45570",
        "37"
    ],
    [
        "North Dakota",
        "659858",
        "46781",
        "38"
    ],
    [
        "Ohio",
        "11512431",
        "47358",
        "39"
    ],
    [
        "Oklahoma",
        "3675339",
        "42979",
        "40"
    ],
    [
        "Oregon",
        "3761925",
        "49260",
        "41"
    ],
    [
        "Pennsylvania",
        "12612705",
        "50398",
        "42"
    ],
    [
        "Rhode Island",
        "1056389",
        "54902",
        "44"
    ],
    [
        "South Carolina",
        "4511428",
        "43939",
        "45"
    ],
    [
        "South Dakota",
        "799462",
        "46369",
        "46"
    ],
    [
        "Tennessee",
        "6234968",
        "43314",
        "47"
    ],
    [
        "Texas",
        "24311891",
        "49646",
        "48"
    ],
    [
        "Utah",
        "2657236",
        "56330",
        "49"
    ],
    [
        "Vermont",
        "624258",
        "51841",
        "50"
    ],
    [
        "Virginia",
        "7841754",
        "61406",
        "51"
    ],
    [
        "Washington",
        "6561297",
        "57244",
        "53"
    ],
    [
        "West Virginia",
        "1840802",
        "38380",
        "54"
    ],
    [
        "Wisconsin",
        "5637947",
        "51598",
        "55"
    ],
    [
        "Wyoming",
        "545579",
        "53802",
        "56"
    ],
    [
        "Puerto Rico",
        "3762322",
        "18791",
        "72"
    ]
]

In [10]:
#reading the census Json data into a dataframe. issues include translating the state names into state abreviations to match the disease data frame, dropping the frst row, and renaming the columns
income_df = pd.DataFrame(income_data)
income_df

                       0            1            2      3
0                   NAME  B01003_001E  B19013_001E  state
1                Alabama      4712651        42081     01
2                 Alaska       691189        66521     02
3                Arizona      6246816        50448     04
4               Arkansas      2872684        39267     05
5             California     36637290        60883     06
6               Colorado      4887061        56456     08
7            Connecticut      3545837        67740     09
8               Delaware       881278        57599     10
9   District of Columbia       584400        58526     11
10               Florida     18511620        47661     12
11               Georgia      9468815        49347     13
12                Hawaii      1333591        66420     15
13                 Idaho      1526797        46423     16
14              Illinois     12745359        55735     17
15               Indiana      6417398        47697     18
16                  Iowa      3016267        48872     19
17                Kansas      2809329        49424     20
18              Kentucky      4285828        41576     21
19             Louisiana      4429940        43445     22
20                 Maine      1327665        46933     23
21              Maryland      5696423        70647     24
22         Massachusetts      6477096        64509     25
23              Michigan      9952687        48432     26
24             Minnesota      5241914        57243     27
25           Mississippi      2941991        37881     28
26              Missouri      5922314        46262     29
27               Montana       973739        43872     30
28              Nebraska      1799125        49342     31
29                Nevada      2633331        55726     32
30         New Hampshire      1313939        63277     33
31            New Jersey      8721577        69811     34
32            New Mexico      2013122        43820     35
33              New York     19229752        55603     36
34        North Carolina      9271178        45570     37
35          North Dakota       659858        46781     38
36                  Ohio     11512431        47358     39
37              Oklahoma      3675339        42979     40
38                Oregon      3761925        49260     41
39          Pennsylvania     12612705        50398     42
40          Rhode Island      1056389        54902     44
41        South Carolina      4511428        43939     45
42          South Dakota       799462        46369     46
43             Tennessee      6234968        43314     47
44                 Texas     24311891        49646     48
45                  Utah      2657236        56330     49
46               Vermont       624258        51841     50
47              Virginia      7841754        61406     51
48            Washington      6561297        57244     53
49         West Virginia      1840802        38380     54
50             Wisconsin      5637947        51598     55
51               Wyoming       545579        53802     56
52           Puerto Rico      3762322        18791     72

In [11]:
#Firt row dropped
income_df.drop(index=income_df.index[0],axis=0,inplace=True)
income_df

                       0         1      2   3
1                Alabama   4712651  42081  01
2                 Alaska    691189  66521  02
3                Arizona   6246816  50448  04
4               Arkansas   2872684  39267  05
5             California  36637290  60883  06
6               Colorado   4887061  56456  08
7            Connecticut   3545837  67740  09
8               Delaware    881278  57599  10
9   District of Columbia    584400  58526  11
10               Florida  18511620  47661  12
11               Georgia   9468815  49347  13
12                Hawaii   1333591  66420  15
13                 Idaho   1526797  46423  16
14              Illinois  12745359  55735  17
15               Indiana   6417398  47697  18
16                  Iowa   3016267  48872  19
17                Kansas   2809329  49424  20
18              Kentucky   4285828  41576  21
19             Louisiana   4429940  43445  22
20                 Maine   1327665  46933  23
21              Maryland   5696423  70647  24
22         Massachusetts   6477096  64509  25
23              Michigan   9952687  48432  26
24             Minnesota   5241914  57243  27
25           Mississippi   2941991  37881  28
26              Missouri   5922314  46262  29
27               Montana    973739  43872  30
28              Nebraska   1799125  49342  31
29                Nevada   2633331  55726  32
30         New Hampshire   1313939  63277  33
31            New Jersey   8721577  69811  34
32            New Mexico   2013122  43820  35
33              New York  19229752  55603  36
34        North Carolina   9271178  45570  37
35          North Dakota    659858  46781  38
36                  Ohio  11512431  47358  39
37              Oklahoma   3675339  42979  40
38                Oregon   3761925  49260  41
39          Pennsylvania  12612705  50398  42
40          Rhode Island   1056389  54902  44
41        South Carolina   4511428  43939  45
42          South Dakota    799462  46369  46
43             Tennessee   6234968  43314  47
44                 Texas  24311891  49646  48
45                  Utah   2657236  56330  49
46               Vermont    624258  51841  50
47              Virginia   7841754  61406  51
48            Washington   6561297  57244  53
49         West Virginia   1840802  38380  54
50             Wisconsin   5637947  51598  55
51               Wyoming    545579  53802  56
52           Puerto Rico   3762322  18791  72