In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
# from census import Census
from us import states
import json

#pip istall only needs to be ran once then this code can be removed
!pip install -U epiweeks
import epiweeks as ew

# Census API Key
from config import api_key
# c = Census(api_key)
c = api_key

Requirement already up-to-date: epiweeks in c:\users\superpawn\anaconda3\lib\site-packages (2.1.2)

In [92]:
#Disease CSV data: issues are traslating 'epiweek' column into a year, data frame will need to be shortened to only inlude years 2005-2010

disease_df = pd.read_csv("diseases_us_1916_to_2011.csv")

disease_df['disease'].value_counts()

C:\Users\Superpawn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

DIPHTHERIA     158983
MEASLES        145167
PERTUSSIS      109072
HEPATITIS A     90839
POLIO           81531
MUMPS           69754
RUBELLA         53205
SMALLPOX        50916
Name: disease, dtype: int64

In [93]:
disease_df["cases"]=disease_df["cases"].astype(str).replace("\\N",np.nan)
disease_df=disease_df.dropna(how="any")
disease_df['cases'] = disease_df["cases"].astype(int)

In [94]:
#Convert epi_week column into week and years columns.
disease_df['epi_week'] = disease_df['epi_week'].astype(str)
disease_df['year'] = disease_df['epi_week'].str[0:4]
disease_df['week'] = disease_df['epi_week'].str[4:6]
disease_df

,epi_week,state,loc,loc_type,disease,cases,incidence_per_100000,year,week
0,196601,MN,MINNESOTA,STATE,HEPATITIS A,3,0.08,1966,01
1,196601,CO,COLORADO,STATE,HEPATITIS A,1,0.05,1966,01
2,196601,AZ,ARIZONA,STATE,HEPATITIS A,6,0.37,1966,01
3,196601,MT,MONTANA,STATE,HEPATITIS A,2,0.28,1966,01
4,196601,LA,LOUISIANA,STATE,HEPATITIS A,1,0.03,1966,01
...,...,...,...,...,...,...,...,...,...
759462,194752,WI,SUPERIOR,CITY,DIPHTHERIA,0,0.00,1947,52
759463,194752,FL,TAMPA,CITY,DIPHTHERIA,0,0.00,1947,52
759464,194752,CO,DENVER,CITY,DIPHTHERIA,1,0.25,1947,52
759465,194752,NY,BUFFALO,CITY,DIPHTHERIA,2,0.35,1947,52
759466,194752,UT,SALT LAKE CITY,CITY,DIPHTHERIA,0,0.00,1947,52

In [95]:
short_disease_df = disease_df.loc[(disease_df['year']== '2010')|(disease_df['year']== '2009')|(disease_df['year']== '2008')|(disease_df['year']== '2007')|(disease_df['year']== '2006')]

grouped_disease_df = short_disease_df.groupby(['year','state','disease',])
clean_disease_df=pd.DataFrame(grouped_disease_df['cases'].sum())
clean_disease_df

                        cases
year state disease
2006 AK    PERTUSSIS       53
     AL    HEPATITIS A     17
           PERTUSSIS       90
     AR    HEPATITIS A     23
           PERTUSSIS       60
...                       ...
2010 WI    PERTUSSIS      304
     WV    HEPATITIS A      9
           PERTUSSIS       91
     WY    HEPATITIS A      3
           PERTUSSIS        6

[503 rows x 1 columns]

In [ ]:
years=['2006','2007','2008','2009','2010']
All_data= {}
for year in years:
    try:
        target_url = f"https://api.census.gov/data/{year}/acs/acs1?get=NAME,B01003_001E,B19013_001E&for=state:*&key={api_key}"
        income_data = requests.get(target_url).json()
        All_data.update({year:income_data})
    except:
        print ('not found')
        
All_data

In [99]:
#reading the census Json data into a dataframe. issues include translating the state names into state abreviations to match the disease data frame, dropping the frst row, and renaming the columns
# income_df = pd.DataFrame(All_data)

income_df= pd.DataFrame()
years=['2006','2007','2008','2009','2010']
for year in years:
    df= pd.DataFrame(All_data[year])
    df['year']=year
    df.drop(index=df.index[0],axis=0,inplace=True)
    income_df=pd.concat([income_df,df])
income_df.columns= ['State', 'Population', 'Household Income', 'State Num', 'Year']
income_df

            State Population Household Income State Num  Year
1         Alabama    4599030            38783        01  2006
2          Alaska     670053            59393        02  2006
3         Arizona    6166318            47265        04  2006
4        Arkansas    2810872            36599        05  2006
5      California   36457549            56645        06  2006
..            ...        ...              ...       ...   ...
48     Washington    6744496            55631        53  2010
49  West Virginia    1853973            38218        54  2010
50      Wisconsin    5691047            49001        55  2010
51        Wyoming     564460            53512        56  2010
52    Puerto Rico    3722133            18862        72  2010

[260 rows x 5 columns]